<nav class="navigation">
  <div class="navigation__container container">
    <span class="navigation__logo logo">Bhromaon</span>
    <label class="burger navigation__burger">
      <input class="burger__input" type="checkbox" />
      <span class="burger__box">
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
      </span>
      <span class="navigation__list burger__menu">
        <span class="navigation__item">
          <a class="navigation__link" href="#choose-us">Who We Are</a>
        </span>
        <span class="navigation__item">
          <a class="navigation__link" href="#section-desc">What We Do</a>
        </span>
        <span class="navigation__item">
          <a class="navigation__link" href="#tourists-say">Travel With Us</a>
        </span>
        <span class="navigation__item">
          <a class="navigation__link" href="#footer">Contact Us</a>
        </span>
      </span>
    </label>
  </div>
</nav>
