<img
  class="back-img section-desc__img"
  src="./images/section-3.png"
  alt="img"
/>
<div
  class="section-desc__container container section-desc__container--second-mod"
>
  <article class="section-desc__article">
    <h3 class="section-desc__foreword">Spain</h3>
    <h2 class="section-desc__title">Grand Spain Madrid</h2>
    <p class="section-desc__text">
      But I must explain to you how all this mistaken idea of account to
      denouncing pleasure and praising pain was account born and I account will
      give you a complete account of the system
    </p>
    <div class="section-desc__link link">
      <img class="link__img" src="./images/Rectangle_8.png" alt="img" />
      <a class="link__text" href="">book now</a>
    </div>
  </article>
</div>
