<img class="back-img" src="./images/section-4.png" alt="img" />
<div class="tourists-say__container container">
  <h2 class="tourists-say__title">What Our Tourist Say</h2>
  <div class="tourists-say__card card">
    <div class="card__img-wrapper">
      <img class="card__img img" src="./images/card-3.png" alt="img" />
    </div>
    <div class="card__quote">
      <h3 class="card__name">Sam Sumon</h3>
      <blockquote class="card__blockquote">
        <span class="card__quotation-mark">&#128630</span>
        But I must explain to you how all this mistaken idea of account to
        denouncinpleasure and praising pain But I must explain to you how all
        this mistaken idea of account to nai denouncing pleasure and praising
        pain was account born and I account will give you a complete account of
        the system was account born and I account will give you a nai the
        complete account of the system
      </blockquote>
    </div>
  </div>
</div>
