.choose-us {
  position: relative;
  @include flex(flex-start, center, column);
  background-color: (rgba(51, 51, 51, 0.9));
  width: auto;
  &__container {
    @include flex(flex-start, center, column);
    width: 100%;
    padding-top: 120px;
    @media screen and (min-width: $screen-tablet) {
      @include flex(space-between, flex-start);
    }
  }
  &__article {
    text-align: justify;
    max-width: 533px;
    margin-bottom: 40px;
    @media screen and (min-width: $screen-tablet) {
      margin-right: 20px;
    }
  }
  &__title {
    text-align: center;
    @include text($H600, 400, $white);
    padding-top: 80px;
    margin-bottom: 55px;
    @media screen and (min-width: $screen-tablet) {
      text-align: start;
    }
  }
  &__text {
    @include text($H200, 400, $grey-light);
    font-family: $secondary-font;
    line-height: 1.5;
    letter-spacing: 0.55px;
    margin-bottom: 44px;
    &:not(:last-of-type) {
      margin-bottom: 31px;
    }
  }
}
