.choose-us {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: (rgba(51, 51, 51, 0.9));
  width: auto;
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 120px;
  }
  &__article {
    text-align: justify;
    max-width: 533px;
  }
  &__title {
    @include text($H600, 400, $white);
    padding-top: 80px;
    margin-bottom: 55px;
  }
  &__text {
    @include text($H200, 400, $grey-light);
    font-family: $secondary-font;
    line-height: 1.5;
    letter-spacing: 0.55px;
    margin-bottom: 44px;
    &:not(:last-of-type) {
      margin-bottom: 31px;
    }
  }
}
.link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  height: 60px;
  max-width: 226px;
  &__img {
    z-index: 0;
    position: absolute;
    left: 0;
  }
  &__text {
    @include text($H200, 400, $white);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none;
    position: relative;
    z-index: 2;
  }
}

.gallery {
  width: 100%;
  margin-bottom: 122px;
  max-width: 475px;
  &__row {
    display: flex;
    max-height: 220px;
    flex-grow: 1;
    flex-shrink: 1;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &:last-child {
      justify-content: flex-end;
    }
  }
  &__coll {
    display: flex;
    max-width: 350px;
    position: relative;
    height: 0;
    padding-bottom: 46%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
.section-icon {
  background-color: $dark;
  width: 100%;
  height: 337px;
  &__container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
  }
  &__list {
    margin: 0 auto;
    width: 100%;
    max-width: 990px;
    display: flex;
    justify-content: space-between;
    padding-top: 101px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
  }
  &__icon {
    margin-bottom: 29px;
    &-blue {
      fill: $blue;
    }
    &-red {
      fill: $succes;
      margin-bottom: 25px;
    }
    &-coral {
      fill: $ok;
      margin-bottom: 25px;
    }
  }
  &__text {
    @include text($H600, 400, $grey-light);
  }
}
