.section-desc {
  width: 100%;
  position: relative;
  padding-top: 230px;
  &__img {
    object-position: 100% 100%;
  }
  &__container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    &--second-mod {
      justify-content: flex-end;
    }
  }
  &__article {
    width: 100%;
    max-width: 540px;
    background-color: $darker-op;
    padding-top: 50px;
    padding-left: 30px;
    margin-bottom: 100px;
  }
  &__foreword {
    @include text($H350, 400, $grey-light);
    font-family: $secondary-font;
    letter-spacing: 0.4px;
    margin-bottom: 29px;
  }
  &__title {
    @include text($H350, 400, $white);
    font-family: $secondary-font;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 23px;
  }
  &__text {
    @include text($H200, 400, $grey-light);
    font-family: $secondary-font;
    line-height: 1.6;
    letter-spacing: -1px;
    margin-bottom: 41px;
  }
  &__link {
    margin-bottom: 50px;
  }
}
