.footer {
  width: 100%;
  min-height: 268px;
  background-color: $darker;
  &__container {
    width: 100%;
    margin: 0 auto;
    padding-top: 121px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  &__logo {
    @include text($H500, 700, $white);
    font-family: $secondary-font;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    margin-bottom: 11px;
  }
  &__text {
    @include text($H200, 400, $white);
    font-family: $secondary-font;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
  }
}
.icon-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  &__item {
    min-height: 20px;
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}
.social-icon {
  fill: $white;
  width: 15px;
  height: 15px;
  &--blue {
    fill: $blue;
  }
}
