.icon-list {
  @include flex(center, center);
  margin: 0 auto;
  height: 30px;
  &__item {
    min-height: 20px;
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}
.social-icon {
  fill: $white;
  width: 15px;
  height: 15px;
  transition: all ease 0.2s;
  &:hover {
    fill: $blue;
  }
}
