.scroll {
  margin: 0 auto;
  max-width: 110px;
  @include flex(center, center, column);
  text-decoration: none;
  @media screen and (min-width: $screen-tablet) {
    &:hover {
      transition: all ease 0.3s;
      transform: translateY(16px);
    }
  }
  &__text {
    @include text($H100, 400, $white);
    letter-spacing: 1.8px;
    font-family: $secondary-font;
    margin-bottom: 12px;
    height: 100%;
  }
}
