.tourists-say {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 118px;
  background-color: $darker-op;
  &__title {
    text-align: center;
    @include text($H600, 400, $white);
    letter-spacing: 0.1px;
    margin-bottom: 89px;
  }
  &__container {
    width: 100%;
  }
}
.card {
  display: flex;
  margin-bottom: 200px;
  background-color: $dark;
  &__img-wrapper {
    position: relative;
    width: 100%;
    max-width: 445px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 0;
    padding-bottom: 25.5%;
  }
  &__img {
  }
  &__quote {
    width: 100%;
    padding-top: 50px;
    padding-left: 60px;
  }
  &__name {
    @include text($H350, 400, $grey-light);
    font-family: $secondary-font;
    text-transform: uppercase;
    letter-spacing: -0.9px;
    margin-bottom: 43px;
  }
  &__blockquote {
    &::before {
      content: "“";
      font-size: 90px;
      color: $blue;
      float: left;
    }
    @include text($H200, 400, $grey-light);
    font-family: $secondary-font;
    line-height: 26.6px;
    max-width: 555px;
    letter-spacing: -1px;
  }
}
